<mat-card class="min-width">
  <mat-card-header>
    <mat-card-title>Students</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field floatLabel="always" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field floatLabel="always" class="full-width">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="MALE"><mat-icon>man</mat-icon>Male</mat-option>
          <mat-option value="FEMALE"
            ><mat-icon>woman</mat-icon>Female</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" class="btn-space" (click)="onAdd()">Add</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
