<mat-card>
  <mat-card-header>
    <mat-card-title>Courses</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="courses$ | async; else loading">
      <div class="mat-elevation-z8 pageable-div">
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
          <div>
            <mat-form-field floatLabel="always" appearance="outline" class="input-space">
              <mat-label>Page number</mat-label>
              <input matInput formControlName="pageNumber" />
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" class="input-space">
              <mat-label>Page size</mat-label>
              <input matInput formControlName="pageSize" />
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" class="input-space">
              <mat-label>Sort by</mat-label>
              <mat-select formControlName="sortBy">
                <mat-option [value]="option.value" *ngFor="let option of sortBy">{{ option.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline">
              <mat-label>Sort direction</mat-label>
              <mat-select formControlName="sortDirection">
                <mat-option [value]="option.value" *ngFor="let option of sortDirection">{{ option.viewValue
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-slide-toggle color="primary" class="switch-space" formControlName="onlyActives">Only
              actives</mat-slide-toggle>
          </div>

          <div>
            <button mat-raised-button color="primary">Send</button>
          </div>
        </form>
      </div>

      <div class="mat-elevation-z8">
        <mat-table [dataSource]="matTableDataSource" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-icon aria-hidden="false" aria-label="Course status"
                [ngClass]="row.active == true ? 'green-icon': 'red-icon'">
                {{ row.active | active }}</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>

            <mat-cell *matCellDef="let student">
              <button mat-mini-fab color="primary" aria-label="Edit course">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-mini-fab color="warn" aria-label="Remove course">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="expand">
            <mat-header-cell *matHeaderCellDef aria-label="row actions">
              &nbsp;
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button *ngIf="element.students.length > 0" mat-icon-button aria-label="expand row" (click)="
                  expandedElement =
                    expandedElement === element ? null : element;
                  $event.stopPropagation()
                ">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsWithExpand.length">
              <div class="element-detail" [@detailExpand]="
                  element == expandedElement ? 'expanded' : 'collapsed'
                ">
                <div>
                  <span *ngFor="let student of element.students">{{ student.name }}</span>
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></mat-header-row>
          <mat-row *matRowDef="let element; columns: displayedColumnsWithExpand" class="element-row"
            [class.example-expanded-row]="expandedElement === element" (click)="
              expandedElement = expandedElement === element ? null : element
            "></mat-row>
          <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
        </mat-table>
      </div>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of courses"></mat-paginator>

    <button mat-raised-button color="primary" (click)="onAdd()">Add</button>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
